<header id="school-header" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header row">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu">
        {{ 'navbar.open_navigation' | t }}
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand {% if settings.view.general.navbar.logo.size > 0 %}navbar-brand-img{% endif %}" href="/">
        {% if settings.view.general.navbar.logo.size > 0 %}
          {% image, src: settings.view.general.navbar.logo %}
        {% else %}
          {{ settings.view.general.navbar.title }}
        {% endif %}
      </a>
    </div>

    <div class="collapse navbar-collapse" id="header-menu">
      <ul class="nav navbar-nav navbar-right">
        <li>
          {% if current_user == nil or current_user.type == 'Student' %}
            <a href="/cart">
              <i class="icon-basket"></i>
              <span>{{ 'navbar.cart' | t }}</span>
            </a>
          {% else %}
            <a href="{{ current_user | sso_admin_path: current_api_key }}">
              <i class="icon-settings"></i>
              <span>{{ 'navbar.admin' | t }}</span>
            </a>
          {% endif %}
        </li>

        {% if current_user %}
          <li>
            <a href="/forums">
              <i class="icon-bubble"></i>
              <span>{{ 'navbar.forum' | t }}</span>
            </a>
          </li>

          {% if current_user.type == 'Student' %}

            <li>
              <a href="/enrollments">
                <i class="icon-notebook"></i>
                <span>{{ 'navbar.my_courses' | t }}</span>
              </a>
            </li>

            <li>
              <a href="/certificates">
                <i class="icon-graduation"></i>
                <span>{{ 'navbar.my_certificates' | t }}</span>
              </a>
            </li>
          {% endif %}

          <li class="dropdown">
            <a href="#" class="dropdown-toggle user-options" data-toggle="dropdown">
              <i class="icon icon-arrow-down"></i>
              <span class="avatar">
                {% assign avatar_alt = current_user | fullname %}
                {% image, src: current_user.cover_image_url, alt: avatar_alt, class: 'avatar-img' %}
              </span>
            </a>

            <ul class="dropdown-menu">
              {% if current_user.type == 'Student' %}
                <li>
                  <div class="user-header">
                    <span class="avatar">
                      {% assign avatar_alt = current_user | fullname %}
                      {% image, src: current_user.cover_image_url, alt: avatar_alt, class: 'avatar-img' %}
                    </span>
                    <div class="caption">
                      <div class="logged-user">{{ current_user | fullname }}</div>
                      <div class="logged-user-email">{{ current_user.email }}</div>
                    </div>
                  </div>
                </li>
              {% endif %}

              {% if current_school.user_social_profile_enabled and current_user.social_profile_disabled != true %}
                <li>
                  <a href="/profile/{{ current_user.id }}">
                    <i class="icon-user"></i>
                    <span>{{ "navbar.public_profile" | t }}</span>
                  </a>
                </li>
              {% endif %}

              <li>
                <a href="{{ current_user | profile_path }}">
                  <i class="icon-note"></i>
                  <span>{{ "navbar.my_profile" | t }}</span>
                </a>
              </li>

              <li>
                {% capture inbox_link_html %}
                <i class="icon-envelope-open"></i>
                <span>{{ 'navbar.messages' | t }}</span>
                {% endcapture %}

                {{ inbox_link_html | inbox_link }}
              </li>

              {% if current_user.type == 'Student' %}
                <li>
                  <a href="/orders">
                    <i class="icon-list"></i>
                    <span>{{ "navbar.my_orders" | t }}</span>
                  </a>
                </li>
              {% endif %}

              <li>
                {% capture logout_link_html %}
                <i class="icon-power"></i>
                <span>{{ "navbar.sign_out" | t }}</span>
                {% endcapture %}

                {{ logout_link_html | logout_link }}
              </li>
            </ul>
          </li>
        {% else %}
          <li>{{ 'navbar.sign_in' | t | login_link }}</li>
        {% endif %}
      </ul>
    </div>
  </div>
</header>
