{% if progress.id %}
  {% assign id = progress.id %}
{% else %}
  {% assign id = nil %}

  {% if progress.type == 'CourseProgressCard' %}
    {% assign id = 'course-' | append: progress.course_id %}
  {% else %}
    {% assign id = 'path-' | append: progress.path_id %}
  {% endif %}
{% endif %}

<div id="card-{{ id }}" class="{{ container_class }} card-progress">
  {% assign completed = progress.completed | default: 0 %}
  {% assign total     = progress.total | default: 0 %}
  <span class="{{ text_class }} description">
    {{ 'progress.completed' | t: completed: completed }}
    {{ 'progress.total' | t: total: total }}
  </span>
  <div class="{{ bar_container_class }}">
    <div class="progress-bar-component">
      {% if total > 0 %}
        {% assign percentage = completed | times: 100 | divided_by: total %}
      {% else %}
        {% assign percentage = 0 %}
      {% endif %}
      <div class="progress-bar progress-bar-success progress-striped"
           style="width: {{ percentage }}%"
           data-percent="15"></div>

      <span class="percent">{{ percentage }}%</span>
    </div>
  </div>
</div>
