<div class="media-controls">
  {% if current_user.type == 'Student' %}
    {% assign content_link = '/enrollments/' | append: enrollment.id %}
  {% else %}
    {% assign content_link = '/admin_view' %}
  {% endif %}

  {% if course_content.prev_content_id %}
    <a
      href="{{ content_link }}/courses/{{ course.id }}/course_contents/{{ course_content.prev_content_id }}"
      class="btn btn-default">
      <i class="icon-arrow-left"></i>
      <span>{{ 'lesson.preview' | t }}</span>
    </a>
  {% endif %}

  {% if course_content.next_content_id %}
    <a
      href="{{ content_link }}/courses/{{ course.id }}/course_contents/{{ course_content.next_content_id }}"
      class="btn btn-default btn-next-lesson disabled">
      <span>{{ 'lesson.next' | t }}</span>
      <i class="icon-arrow-right"></i>
    </a>
  {% endif %}
</div>
