<div class="login-page page-signin-alt page">
  <div class="container page-container">
    <h2 class="title">{{ 'accept_invitation.choose_password' | t }}</h2>
    {% form 'accept_invitation' %}
      {% if form.errors %}
        <div class="alert alert-danger">{{ form.errors | default_errors }}</div>
      {% endif %}

      <input type="hidden" name="user[invitation_token]" value="{{ user.invitation_token }}" required>

      <div class="form-group signin-password">
        <input type="password" name="user[password]" class="form-control input-lg error"
               placeholder="{{ 'accept_invitation.password' | t }}" required>
      </div>

      <div class="form-group signin-password">
        <input type="password" name="user[password_confirmation]" class="form-control input-lg error"
               placeholder="{{ 'accept_invitation.password_confirmation' | t }}" required>
      </div>

      <div class="form-actions">
        <input type="submit" value="{{ 'accept_invitation.accept' | t }}" class="btn btn-primary btn-block btn-lg">
      </div>
    {% endform %}
  </div>
</div>
