<div class="login-page page">
  <div class="container">
    <div class="row text-center">
      <a href="/"><img class="brand" src="https://edools-3-production.s3.amazonaws.com/org-25042%2Fschool-26067%2Fb6431075d312a2405e1df36fd8547225%2Fexame-logo.84a0b3ad.svg"></a>
    </div>
  </div>
  <div class="container page-container text-center title">
    <h1 id="accessibility-main-content-login" class="form-header title-login"> ENTRE E ACESSE SUA CONTA</h1>
    {% assign login_only_with_google = current_school | has_feature: 'login_only_with_google' %}

    {% if login_only_with_google %}
      <p class="register">
        <button class="google-sign-in white">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/G-on-clear.svg" alt="Google logo">
          {{ 'login.login_only_with_google' | t | login_with_google : 'text' }}
        </button>
      </p>
    {% else %}
      {% form 'login' %}
        {% if form.errors %}
          <div class="alert alert-danger">{{ form.errors | default_errors }}</div>
        {% endif %}

        <div class="form-group">
          <input type="email" name="user[email]" class="form-control input-lg"
                 placeholder="E-mail" required>
        </div>

        <div class="form-group signin-password">
          <input type="password" name="user[password]" class="form-control input-lg error"
                 placeholder="{{ 'login.password' | t }}" {% if current_school | has_feature: 'autocomplete_off' %}autocomplete="off"{% endif %} required>
        </div>

        <input type="submit" value="Acessar" class="btn btn-primary btn-block btn-lg">
        
        {% include 'recaptcha_by_feature', disable_button: true, feature: 'login_with_recaptcha' %}
      {% endform %}

      {% assign login_too_with_google = current_school | has_feature: 'login_too_with_google' %}

      {% if login_too_with_google %}
        <center><h4>{{ 'login.or' | t }}</h4></center>
        <p class="register">
          <button class="google-sign-in white">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/G-on-clear.svg" alt="Google logo">
            {{ 'login.login_too_with_google' | t | login_with_google : 'text' }}
          </button>
        </p>

      {% endif %}
      <br/>
      <div class= "text-center">
        <a class="forgot"href="/users/password/new">Esqueci a senha</a>
        <p class="register">
          Não possui conta? <a class="create" href="/users/sign_up">CRIAR CONTA</a>
        </p>
      </div>
    {% endif %}
  </div>
</div>
