<div class="login-page page-signin-alt page">
  <div class="container page-container">
    <h2 class="title">{{ 'password_reset.password_reset' | t }}</h2>
    {% form 'password_reset' %}
    {% if form.errors %}
      <div class="alert alert-danger">{{ form.errors | default_errors }}</div>
    {% endif %}

    <div class="form-group signin-password">
      <input type="password" name="user[password]" class="form-control input-lg error"
             placeholder="{{ 'password_reset.password' | t }}" required>
    </div>

    <div class="form-group signin-password">
      <input type="password" name="user[password_confirmation]" class="form-control input-lg error"
             placeholder="{{ 'password_reset.password_confirmation' | t }}" required>
    </div>

    <div class="form-actions">
      <input type="submit" value="{{ 'password_reset.reset' | t }}" class="btn btn-primary btn-block btn-lg">
    </div>
    {% endform %}
  </div>
</div>
