<div class="register-page page">
  <div class="container page-container">
    <h1 class="title">{{ 'register.create_account' | t }}</h1>
    {% form 'register' %}
    {% if form.errors %}
      <div class="alert alert-danger">{{ form.errors | default_errors }}</div>
    {% endif %}

    {% if current_school | has_feature: 'strong_password_policy' %}
    <div class="alert alert-danger" style="display: none"><li>{{ 'password_reset.strong' | t }}</li></div>
    {% endif %}

    <div class="form-group">
      <input type="text" value="{{ user.first_name }}" autofocus="true" name="user[first_name]"
             class="form-control input-lg" placeholder="{{ 'register.first_name' | t }}" required>
    </div>

    <div class="form-group">
      <input type="email" value="{{ user.email }}" name="user[email]" class="form-control input-lg"
             placeholder="{{ 'register.email' | t }}" required>
    </div>
    
    <!-- ----- Campos de cadastro nativos ----- -->
    
    <div class="form-group">
      <label for="user-cep" class="control-label active">CEP</label>
      <input type="text" id="user-cep" name="user[address_attributes][zip_code]" data-enable-cep-service="true" placeholder="Seu CEP" value="" class="form-control" data-validation="required" data-validation-error-msg="Adicione o CEP." maxlength="10" required>
    </div>
    
    <div class="form-group">
      <label for="user-street" class="control-label active">Logradouro</label>
      <input type="text" id="user-street" name="user[address_attributes][street]" placeholder="Seu logradouro" value="" class="form-control" data-validation="required" data-validation-error-msg="Adicione o seu logradouro." required>
    </div>
                  
    <div class="form-group">
      <label for="user-number" class="control-label active">Nº</label>
      <input type="text" id="user-number" name="user[address_attributes][number]" placeholder="Seu número" value="" class="form-control" data-validation="required" data-validation-error-msg="Adicione o número do endereço." required>
    </div>
                  
    <div class="form-group">
      <label for="user-complement" class="control-label active">Complemento</label>
      <input type="text" id="user-complement" name="user[address_attributes][complement]" placeholder="Seu complemento" value="" class="form-control">
    </div>
                  
    <div class="form-group">
      <label for="user-district" class="control-label active">Bairro</label>
      <input type="text" id="user-district" name="user[address_attributes][district]" placeholder="Seu bairro" value="" class="form-control" data-validation="required" data-validation-error-msg="Adicione o bairro." required>
    </div>
                  
    <div class="form-group">
      <label for="user-city" class="control-label active">Cidade</label>
      <input type="text" id="user-city" name="user[address_attributes][city]" placeholder="Sua cidade" value="" class="form-control" data-validation="required" data-validation-error-msg="Adicione a cidade." required>
    </div>
                  
    <div class="form-group">
      <label class="control-label">Estado</label>
        <div class="select-container">
                      
          <select value="" name="user[address_attributes][state]" class="form-control" required="" required>
  
            <option value="AC">
              Acre
            </option>
  
            <option value="AL">
              Alagoas
            </option>
          
            <option value="AM">
              Amazonas
            </option>
          
            <option value="AP">
              Amapá
            </option>
          
            <option value="BA">
              Bahia
            </option>
          
            <option value="CE">
              Ceará
            </option>
          
            <option value="DF">
              Distrito Federal
            </option>
          
            <option value="ES">
              Espirito Santo
            </option>
          
            <option value="GO">
              Goiás
            </option>
          
            <option value="MA">
              Maranhão
            </option>
          
            <option value="MG">
              Minas Gerais
            </option>
          
            <option value="MS">
              Mato Grosso do Sul
            </option>
          
            <option value="MT">
              Mato Grosso
            </option>
          
            <option value="PA">
              Pará
            </option>
          
            <option value="PB">
              Paraíba
            </option>
          
            <option value="PE">
              Pernambuco
            </option>
          
            <option value="PI">
              Piauí
            </option>
          
            <option value="PR">
              Paraná
            </option>
          
            <option value="RJ">
              Rio de Janeiro
            </option>
          
            <option value="RN">
              Rio Grande do Norte
            </option>
          
            <option value="RO">
              Rondônia
            </option>
          
            <option value="RR">
              Roraima
            </option>
          
            <option value="RS">
              Rio Grande do Sul
            </option>
          
            <option value="SC">
              Santa Catarina
            </option>
          
            <option value="SE">
              Sergipe
            </option>
          
            <option value="SP">
              São Paulo
            </option>
          
            <option value="TO">
              Tocantins
            </option>
  
          </select>

      </div>
    </div>
                  
    <!-- ----- Fin campos de cadastro nativos ----- -->

    <div class="form-group signin-password">
      {% assign has_feature_password = current_school | has_feature: 'strong_password_policy' %}

      <input type="password" name="user[password]" class="form-control input-lg error {% if has_feature_password %}strong--password{% endif %}"
             placeholder="{{ 'register.password' | t }}" required>
    </div>

    <div class="form-group signin-password">
      <input type="password" name="user[password_confirmation]" class="form-control input-lg error"
             placeholder="{{ 'register.password_confirmation' | t }}" required>
    </div>

    {% for field in custom_fields.fields %}
      {% if field.visible_in_registration %}
        {% case field.type %}
          {% when 'date' %}
            <div class="form-group">
              {% capture label %}{{ field.title }}{% endcapture %}
              {% capture name %}customs[{{field.slug}}]{% endcapture %}
              {% capture value %}{{ field.value }}{% endcapture %}
              {% capture placeholder %}{{ field.placeholder }}{% endcapture %}
              {% if field.required %} {% capture required%} required {% endcapture %} {% endif %}
              {% include 'datepicker' %}
            </div>
          {% when 'select' %}
            <div class="form-group">
              <select name="customs[{{field.slug}}]" class="form-control" {% if field.required %} required {% endif %}>
                <option disabled selected>{{field.placeholder}}</option>
                {% for option in field.options %}
                  <option value="{{option}}" {% if field.value == option %}selected{% endif %}>{{option}}</option>
                {% endfor %}
              </select>
          {% when 'radiobox' %}
            <div class="form-group row">
              <label class="control-label">{{ field.title }}</label>
              <div class="col-sm-12">
                {% for option in field.options %}
                  <div class="col-sm-4">
                    <label class="control-label">
                      <input type="radio" name="customs[{{field.slug}}]" value="{{option}}" {% if field.value contains option %}checked{% endif %} {% if field.required %} required {% endif %} />&nbsp;{{option}}
                    </label>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% when 'checkbox' %}
            <div class="form-group row">
              <label class="control-label">{{ field.title }}</label>
              <div class="col-sm-12">
              {% for option in field.options %}
                <div class="col-sm-4">
                  <label class="control-label">
                    <input type="checkbox" name="customs[{{field.slug}}][]" value="{{option}}" {% if field.value contains option %}checked{% endif %} {% if field.required %} required {% endif %} />&nbsp;{{option}}
                  </label>
                </div>
              {% endfor %}
              </div>
            </div>
          {% when 'textarea' %}
            <div class="form-group">
              <textarea name="customs[{{ field.slug }}]" class="form-control" placeholder="{{ field.placeholder }}" {% if field.required %} required {% endif %}>{{field.value}}</textarea>
            </div>
          {% else %}
            <div class="form-group">
              <input type="{{field.type}}" value="{{field.value}}" name="customs[{{field.slug}}]" class="form-control" placeholder="{{field.placeholder}}" {% if field.required %} required {% endif %} />
            </div>
        {% endcase %}
      {% endif %}
    {% endfor %}

    {% include 'recaptcha_by_feature', disable_button: true, feature: 'registrations_with_recaptcha' %}

    <div class="form-actions">
      <input type="submit" value="{{ 'register.create_account' | t }}"
             class="btn btn-primary btn-block btn-lg"  {% if has_recaptcha_by_feature %}disabled{% endif %} />
    </div>
    {% endform %}
  </div>
</div>
