Notificações

</br>Total de notificações: {{ notifications.size }}
</br>Total de notificações lidas: {{ notifications.read_count }}
</br>Total de notificações não lidas: {{ notifications.unread_count }}

{% paginate notifications by 1 sort { created_at: :desc } %}
  <div id="js-notifications-list">
    {% include 'student/notification-list', notification: notification %}
  </div>

  {% if paginate.next.is_link %}
    <div id="notifications-more" class="col-xs-12 text-center">
      <a id="js-notifications-more-link" href="{{ paginate.next.url }}" data-remote="true">
        <span class="bold">{{ 'general.load_more' | t }}</span>
      </a>
    </div>
  {% endif %}
{% endpaginate %}
