{% if answer.corrected_at %}
  {% if answer.approved? %}
    <p class="note note-success">
      {{ 'quiz.messages.approved' | t: score: answer.score }}
    </p>
  {% else %}
    <p class="note note-danger">
      {{ 'quiz.messages.disapproved' | t: score: answer.score, min_grade: lesson.min_grade }}
    </p>
  {% endif %}

  {% if attempts_remaining > 0 %}
    <p>
      {{ 'quiz.messages.try' | t: attempts_remaining: attempts_remaining }} &nbsp;

      <button id="js-remake-exam" class="btn btn-primary btn-xs">
        {{ 'quiz.messages.click_here' | t }}
      </button>
    </p>
  {% endif %}

  <div class="answers">
    {% for question in activity.exam_questions %}
      <div class="panel panel-default" data-question-id="{{ question.id }}">
        <div class="panel-heading">
          <div class="panel-title">
            <span style="display: inline-block;">{{ forloop.index }}. </span>
            <p style="display: inline-block; margin: 0;">
              {{ question.title | default: question.options[0].title }}
            </p>
          </div>
        </div>

        <div class="panel-body">
          {% case question.type %}
          {% when 'DiscursiveExamQuestion' %}
            <div class="answer-text">{{ question.answer.text }}</div>

            <br/>
          {% when 'MultipleChoiceExamQuestion' %}
            {% assign correct_option = nil %}

            {% for option in question.options %}
              {% if option.correct %}
                {% assign correct_option = option %}
              {% endif %}

              {% if option.id == question.answer.multiple_choice_option_id %}
                {% assign checked = 'checked' %}

                {% if option.correct %}
                  {% assign radio_class = 'alert alert-success' %}
                {% else %}
                  {% assign radio_class = 'alert alert-danger' %}
                {% endif %}
              {% else %}
                {% assign checked = nil %}
                {% assign radio_class = 'alert without-color' %}
              {% endif %}

              <div class="{{ radio_class }}">
                <input type="radio" disabled="true" {{ checked }}>
                <span>{{ option.title }}</span>
              </div>
            {% endfor %}

            {% if answer.approved? %}
              <div class="alert alert-info">
                <span class="question-right-answer">
                  <strong>{{ 'quiz.right_answer' | t }}:</strong> {{ correct_option.title }}
                </span>
              </div>
            {% endif %}
          {% when 'AssociativeExamQuestion' %}
            <table class="table table-bordered">
              <tbody>
              {% for option in question.answer.associative_options %}
                {% if option.correct %}
                  {% assign correct_class = 'alert-success' %}
                {% else %}
                  {% assign correct_class = 'alert-danger' %}
                {% endif %}

                <tr class="alert {{ correct_class }}">
                  <td>{{ option.first_assertion.text }}</td>
                  <td>{{ option.second_assertion.text }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

            {% if answer.approved? %}
              <div class="alert alert-info">
                <span class="question-right-answer">
                  <strong>{{ 'quiz.right_answer' | t }}:</strong>
                  <table class="table table-bordered">
                    <tbody>
                    {% for option in question.options %}
                      <tr>
                      <td>{{ option.first_assertion.text }}</td>
                      <td>{{ option.second_assertion.text }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </span>
              </div>
            {% endif %}
          {% when 'TrueOrFalseExamQuestion' %}
            {% if question.answer.correct %}
              {% assign true_checked = 'checked' %}
              {% assign false_checked = nil %}

              {% assign false_class = 'without-color' %}

              {% if question.options[0].correct == question.answer.correct %}
                {% assign correct_option = '{{'quiz.true' | t }}' %}
                {% assign true_class = 'alert-success' %}
              {% else %}
                {% assign true_class = 'alert-danger' %}
              {% endif %}
            {% else %}
              {% assign true_checked = nil %}
              {% assign false_checked = 'checked' %}

              {% assign true_class = 'without-color' %}

              {% if question.options[0].correct == question.answer.correct %}
                {% assign correct_option = '{{'quiz.false' | t }}' %}
                {% assign false_class = 'alert-success' %}
              {% else %}
                {% assign false_class = 'alert-danger' %}
              {% endif %}
            {% endif %}

            <div class="alert {{ false_class }}">
              <input type="radio" {{ false_checked }} disabled="true">
              <span>{{ 'quiz.false' | t }}</span>
            </div>

            <div class="alert {{ true_class }}">
              <input type="radio" {{ true_checked }} disabled="true">
              <span>{{ 'quiz.true' | t }}</span>
            </div>

            <br/>

            {% if answer.approved? %}
              <div class="alert alert-info">
                  <span class="question-right-answer">
                    <strong>{{ 'quiz.right_answer' | t }}:</strong> {% if correct_option.correct %} {{ 'quiz.true' | t }} {% else %} {{ 'quiz.false' | t }} {% endif %}
                  </span>
              </div>
            {% endif %}
          {% when 'TrueOrFalseExamQuestion2' %}
            {% assign correct_option = nil %}

            {% for option in question.options %}
              {% if option.correct %}
                {% assign correct_option = option %}
              {% endif %}

              {% if option.id == question.answer.multiple_choice_option_id %}
                {% assign checked = 'checked' %}

                {% if option.correct %}
                  {% assign radio_class = 'alert alert-success' %}
                {% else %}
                  {% assign radio_class = 'alert alert-danger' %}
                {% endif %}
              {% else %}
                {% assign checked = nil %}
                {% assign radio_class = 'alert without-color' %}
              {% endif %}

              <div class="{{ radio_class }}">
                <input type="radio" disabled="true" {{ checked }}>
                <span>{{ option.title }}</span>
              </div>
            {% endfor %}

            {% if answer.approved? %}
              <div class="alert alert-info">
                <span class="question-right-answer">
                  <strong>{{ 'quiz.right_answer' | t }}:</strong> {{ correct_option.title }}
                </span>
              </div>
            {% endif %}
          {% endcase %}

          {% if question.comment and ((activity.show_comments == 'always') or (activity.show_comments == 'approved' and answer.approved?)) %}
            <div class="alert alert-info">
                <span class="question-comment">
                  <strong>{{ 'quiz.teacher_comment' | t }}:</strong> {{ question.comment }}
                </span>
            </div>
          {% endif %}

          <div class="pull-right badge">
            Pontuação: {{ question.answer.score | round }} / {{ question.point }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <span class="waiting-correction">
    {{ 'quiz.messages.waiting_correction' | t }}
  </span>

  {% if attempts_remaining > 0 %}
    <span class="waiting-correction-attempts-message">
      {{ 'quiz.messages.waiting_correction_attempts_message' | t: attempts_remaining: attempts_remaining }}
    </span>
  {% endif %}
{% endif %}
