<div class="orders-page page">
  <div id="credit-card" class="container page-container">

    <div class="control-back">
      <a id="return-home" class="btn btn-default" href="/orders">
        <i class="icon-arrow-left"></i>
        <span>{{ 'general.back' | t }}</span>
      </a>
    </div>

    <h2 class="title">{{ current_page_title }}</h2>

    <div class="row">
      <div class="col-md-12">
        {% form 'order/credit_card', id: card-form %}
          {% if order.errors %}
            <div class="alert alert-danger">{{ order.errors | default_errors }}</div>
          {% endif %}

          <input type="hidden" name="title" value="{{ current_page_title }}">

          <div class="form-group card-wrapper"></div>

          <div class="form-group">
            <label class="control-label">{{ 'checkout.payment.credit_card_number' | t }}</label>
            <input id="card-number"
                   type="text"
                   name="order[credit_card][number]"
                   value="{{ credit_card.number }}"
                   class="form-control"
                   required>
          </div>

          <div class="form-group">
            <label class="control-label">{{ 'checkout.payment.credit_card_name' | t }}</label>
            <input id="card-holder-name"
                   type="text"
                   name="order[credit_card][name]"
                   value="{{ credit_card.name }}"
                   class="form-control"
                   required>
          </div>

          <div class="row">
            <div class="form-group  col-sm-6">
              <label class="control-label">{{ 'checkout.payment.credit_card_expiry' | t }}</label>
              <input id="card-expiration"
                     type="text"
                     name="order[credit_card][expiry]"
                     value="{{ credit_card.expiry }}"
                     class="form-control"
                     required>
            </div>
            <div class="form-group col-sm-6">
              <label class="control-label">{{ 'checkout.payment.credit_card_cvv' | t }}</label>
              <input id="card-cvc"
                     type="text"
                     name="order[credit_card][cvc]"
                     value="{{ credit_card.cvc }}"
                     class="form-control"
                     required>
            </div>
          </div>

          <div class="text-center">
            <button id='submit' type="submit" class="btn btn-primary btn-finalize"
              data-disable-with="<i class='busy busy-xs'></i><span>{{ 'general.sending' | t }}...</span>">

              {{ current_page_title }}
            </button>
          </div>
        {% endform %}

        <script>
          $(document).on('ready page:load', function () {
            $('#card-form').card({
              container: '.card-wrapper',

              formSelectors: {
                numberInput: 'input[name="order[credit_card][number]"]',
                expiryInput: 'input[name="order[credit_card][expiry]"]',
                cvcInput: 'input[name="order[credit_card][cvc]"]',
                nameInput: 'input[name="order[credit_card][name]"]',
              },
              placeholders: {
                number: '•••• •••• •••• ••••',
                name: "{{ 'checkout.payment.credit_card_name' | t }}",
                expiry: '•• / ••',
                cvc: '•••'
              }
            });
          });
        </script>
      </div>
    </div>
  </div>
</div>
