<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3 text-center">
        <h4 class="subtitle"><strong>{{ 'course.dashboard.content_lessons_completed' | t }}</strong></h4>
        <div role="tabpanel" class="tab-pane active" id="course-messages">
          <div class="pinboard">
            <div class="well">
              <strong>{{ enrollment_course_dashboard.content_lessons_completed_count }}</strong>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 text-center">
        <h4 class="subtitle"><strong>{{ 'course.dashboard.content_lessons_total' | t }}</strong></h4>
        <div role="tabpanel" class="tab-pane active" id="course-messages">
          <div class="pinboard">
            <div class="well">
              <strong>{{ enrollment_course_dashboard.content_lessons_total_count }}</strong>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 text-center">
        <h4 class="subtitle"><strong>{{ 'course.dashboard.exam_lessons_completed' | t }}</strong></h4>
        <div role="tabpanel" class="tab-pane active" id="course-messages">
          <div class="pinboard">
            <div class="well">
              <strong>{{ enrollment_course_dashboard.exam_lessons_completed_count }}</strong>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3 text-center">
        <h4 class="subtitle"><strong>{{ 'course.dashboard.exam_lessons_uncompleted' | t }}</strong></h4>
        <div role="tabpanel" class="tab-pane active" id="course-messages">
          <div class="pinboard">
            <div class="well">
              <strong>{{ enrollment_course_dashboard.exam_lessons_uncompleted_count }}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>