{% raw %}
<div class="chat-profile-list-item chat-sidebar-list-item" data-id="{{id}}" data-type="users">
  <div class="avatar">
    <img class="animated" src="{{cover_image_url}}" />
  </div>

  <div class="info">
    <div class="name">{{ first_name }} {{last_name}}</div>
    {% if address %}
      <div class="location">{{ address.city }} - {{ address.state}}</div>
    {% else %}
      <div class="location">...</div>
    {% endif %}
  </div>

  {% if status and last_seen %}
    <div class="status">
      <div class="icon icon-{{ status }}"></div>
      <div class="description">{{ last_seen }}</div>
    </div>
  {% endif %}
</div>
{% endraw %}
