<div id="sent-files">
  {% if answer.try(:files).try(:size) && answer.try(:files).try(:size) > 0 %}
    <h4>{{ 'upload.files_sent' | t }}</h4>

    {% for file in answer.files %}
      <h5>
        <a href="{{ file.url }}" download>
          {{ file.name }}
        </a>
      </h5>
    {% endfor %}
  {% else %}
    <div class="alert alert-warning alert-outline">
      <h5 class="note-title">{{ 'upload.any_uploaded_file' | t }}</h5>
    </div>
  {% endif %}
</div>

{% if answer.try(:corrected_at) %}
  <div class="alert alert-info">
    <span class="question-comment">
      <strong>{{ 'upload.teacher_comment' | t }}:</strong> {{ answer.comment }}
    </span>
  </div>
{% endif %}
