{% if coupon %}
{% if coupon_token.code %}
{% assign couponName = coupon_token.code %}
{% elsif coupon %}
{% assign couponName =  coupon.name %}
{% endif %}
<div class="row js-remove-coupon-container">
  <div class="col-xs-9">
    {{ 'express_checkout.applied_coupon' | t: name: couponName }}
  </div>
  <div class="col-xs-3">
    <div class="pull-right">
      <a href="/express_checkout/remove_coupon?payment_option_id={{ payment_option.id }}" data-remote="true"
        data-disable-with="<i class='busy busy-xs'></i>">
        <u id="link-remove-coupon">{{ 'express_checkout.remove' | t }}</u>
      </a>
    </div>
  </div>
</div>
{% endif %}

<section id="js-totals-box">
  {% assign paymentOption = payment_option | default: order %}
  {% assign discount = paymentOption.price | minus: paymentOption.total %}

  {% if discount > 0 %}
  <div class="totals-box-container">
    <div class="totals-box-item">{{ 'express_checkout.original_price_text' | t }}</div>
    <div class="totals-box-item product-value-text">
      {{ paymentOption.price | money_option_presentation: paymentOption.kind, paymentOption.period, 'full', 1 }}
    </div>
  </div>

  <div class="totals-box-container">
    <div class="totals-box-item discount-text">{{ 'express_checkout.discount_text' | t }}</div>
    <div class="totals-box-item discount-text">-
      {{ discount | money_option_presentation: paymentOption.kind, paymentOption.period, 'full', 1}}</div>
  </div>

  {% if payment_option.kind == 'subscription' %}
    <div class="totals-box-item discount-text pull-right">* {{ 'checkout.coupon_recurrency_memberships_quantity' | t: quantity: coupon.recurrency_memberships_quantity }}</div>
  {% endif %}

  <hr class="divider">
  {% endif %}

  <div class="totals-box-container">
    <div class="totals-box-item">
      <b>
        {% if paymentOption.amount_to_pay %}
          {{ 'checkout.total_paid' | t }}
        {% else %}
          {{ 'checkout.total_amount_to_pay' | t }}
        {% endif %}
      </b>
    </div>
    <div class="totals-box-item product-value-text">
      <span>
        <b id="js-payment-total">
          {% if paymentOption.kind == 'free' %}
          {{ 'product.pricing.free.unitary' | t }}
          {% else %}
          {{ paymentOption.amount_to_pay | default: paymentOption.total | money_option_presentation: paymentOption.kind, paymentOption.period, 'full', 1 }}
          {% endif %}
        </b>
      </span>
    </div>
  </div>

  <div class="totals-box-container">
    {% assign payment_config = current_school | has_feature: 'product_payment_config' %}
    {% if payment_option.kind == 'common' and payment_config == false  %}
    <div class="totals-box-item">
      {{ 'checkout.total_amount_to_pay_in_installments' | t: installments: installments_limit }}
    </div>
    <div class="totals-box-item">
      <span class="installment-price">
        <b id="js-payment-installments">
          {% if gateway.gateway == 'spark_pay' %}
            {{ installments.last.amount | money }}
          {% else %}
            {{ payment_option.total | number_with_taxes: gateway | divided_by: installments_limit | money }}
          {% endif %}
        </b>
      </span>
    </div>
    {% endif %}
  </div>
</section>

<style>
  #js-totals-box {
    padding: 20px 0;
  }

  .totals-box-container {
    display: flex;
    justify-content: space-between;
  }

  .totals-box-item {
    flex-wrap: wrap;
  }

  .product-value-text {
    font-size: 16px;
  }

  .divider {
    border-top: 1px solid #bbb;
  }

  .discount-text {
    color: #797979;
  }

  .installment-price {
    color: #34b469;
  }

  #link-remove-coupon {
    color: #000;
  }
</style>

<script>

   {% if paymentOption.total == 0 %}
    $(document).ready(() => {
      $("#tab-payment-methods").html("\
        <li role='presentation'>\
          <a href='#credit-card' id='credit-card-tab' role='tab' data-toggle='tab'\
             aria-controls='credit-card'\
             aria-expanded='false'\
             data-toggle='pill'>\
            <i class='fal fa-credit-card'></i> Crédito \
          </a>\
        </li>\
        <li class='active' role='presentation'>\
          <a href='#boleto' id='boleto-tab' role='tab' data-toggle='tab' aria-controls='boleto'\
             aria-expanded='true'\
             data-toggle='pill'>\
            <i class='fal fa-barcode-alt'></i> Boleto\
          </a>\
        </li>\
      ");
    });
  {% endif %} 
  
  $('#link-remove-coupon').click(function(){
    $("#tab-payment-methods").html("\
        <li class='active' role='presentation'>\
          <a href='#credit-card' id='credit-card-tab' role='tab' data-toggle='tab'\
             aria-controls='credit-card'\
             aria-expanded='true'\
             data-toggle='pill'>\
            <i class='fal fa-credit-card'></i> Crédito \
          </a>\
        </li>\
        <li role='presentation'>\
          <a href='#boleto' id='boleto-tab' role='tab' data-toggle='tab'\
             aria-controls='boleto'\
             aria-expanded='false'\
             data-toggle='pill'>\
            <i class='fal fa-barcode-alt'></i> Boleto\
          </a>\
        </li>\
      ");
    $(".wizard").css("display","block");
  })

  var coupon = '{{ coupon }}';

  $('#js-input-coupon-container').hide();

  if (coupon.length === 0) {
    $('.js-remove-coupon-container').hide();
    $('#js-add-coupon-container').show();
  } else {
    $('.js-remove-coupon-container[style="display: none;"]').remove();
    $('.js-remove-coupon-container').show();
  }
</script>
