<div id="cart-total" class="cart-total sidebar-widget border right bottom {% if closed_borders %}left{% endif %}">
  <div class="panel-body row">
    <div class="col-xs-6">
      {{ 'checkout.total_amount_to_pay' | t }}
    </div>
    <div class="col-xs-6">
      <span class="pull-right text-right total-price">
        {% if coupon %}
          <s class="small">{{ payment_option.price | money_option_presentation: payment_option.kind, payment_option.period, 'full', 1 }}</s><br>
        {% endif %}

        <b id="js-payment-total">{{ payment_option.price | money_option_presentation: payment_option.kind, payment_option.period, 'full', 1 }}</b>
      </span>
    </div>

    {% assign payment_config = current_school | has_feature: 'product_payment_config' %}
    {% if payment_option.kind == 'common' and payment_config == false  %}
      <div class="col-xs-6">
        {{ 'checkout.total_amount_to_pay_in_installments' | t: installments: installments_limit }}
      </div>

      <div class="col-xs-6">
        <span class="pull-right text-right installment-price">
          {% if coupon %}
            <s class="small">{{ payment_option.total | divided_by: installments_limit | money }}</s><br>
          {% endif %}

          <b id="js-payment-installments">
            {{ payment_option.price | number_with_taxes: gateway |
              divided_by: installments_limit | money }}
          </b>
        </span>
      </div>
    {% endif %}

    {% if coupon %}
      <br>
      <div class="col-xs-12 payment-total-coupon">
        <span class="text-muted small pull-right">{{'checkout.coupon' |t }}
          {% if coupon_token.code %}
            {{ coupon_token.code }}
          {% elsif coupon %}
            {{ coupon.name }}
          {% endif %}
        </span>
      </div>
    {% endif %}
  </div>
</div>
