<section id="js-totals-box">

  {% assign payment = payment_option | default: order %}
  {% assign discount = payment.price | minus: payment.total %}

  {% if discount > 0 %}
    <div class="totals-box-container">
      <div class="totals-box-item">{{ 'express_checkout.original_price_text' | t }}</div>
      <div class="totals-box-item product-value-text">
        {{ payment.price | money_option_presentation: payment.kind, payment.period, 'full', 1 }}
      </div>
    </div>

    <div class="totals-box-container">
      <div class="totals-box-item discount-text">{{ 'express_checkout.discount_text' | t }}</div>
      <div class="totals-box-item discount-text">-
        {{ discount | money_option_presentation: payment.kind, payment.period, 'full', 1}}</div>
    </div>

    <hr class="divider">
  {% endif %}

  <div class="totals-box-container">
    <div class="totals-box-item"><b>{{ 'checkout.total_amount_to_pay' | t }}</b></div>
    <div class="totals-box-item product-value-text">
      <span>
        <b id="js-payment-total">
          {% if payment.kind == 'free' %}
            {{ 'product.pricing.free.unitary' | t }}
          {% else %}
            {{ payment.total | money_option_presentation: payment.kind, payment.period, 'full', 1 }}
          {% endif %}
        </b>
      </span>
    </div>
  </div>

  <div class="totals-box-container">
    {% assign payment_config = current_school | has_feature: 'product_payment_config' %}
    {% if payment_option.kind == 'common' and payment_config == false  %}
    <div class="totals-box-item">
      {{ 'checkout.total_amount_to_pay_in_installments' | t: installments: installments_limit }}
    </div>
    <div class="totals-box-item">
      <span class="installment-price">
        <b id="js-payment-installments">
          {{ payment_option.total | number_with_taxes: gateway | divided_by: installments_limit | money }}
        </b>
      </span>
    </div>
    {% endif %}
  </div>

  {% if coupon %}
  <br>
  {% if coupon_token.code %}
  {% assign couponName = coupon_token.code %}
  {% elsif coupon %}
  {% assign couponName =  coupon.name %}
  {% endif %}
  <div class="totals-box-container">
    <div class="totals-box-item">{{ 'express_checkout.applied_coupon' | t: name: couponName }}</div>
    <div class="totals-box-item">
      <a class="btn btn-xs btn-danger" href="/express_checkout/remove_coupon?payment_option_id={{ payment_option.id }}"
        data-remote="true" data-disable-with="<i class='busy busy-xs'></i>">
        <i class="icon-trash"></i>
      </a>
    </div>
  </div>
  {% endif %}
</section>

<style>
  #js-totals-box {
    padding: 20px 0;
  }

  .totals-box-container {
    display: flex;
    justify-content: space-between;
  }

  .totals-box-item {
    flex-wrap: wrap;
  }

  .product-value-text {
    font-size: 16px;
  }

  .divider {
    border-top: 1px solid #bbb;
  }

  .discount-text {
    color: #797979;
  }

  .installment-price {
    color: #34b469;
  }
</style>
