<p>{{ 'mailer.hello' | t: first_name: to.first_name }}</p>
<p>{{ 'mailer.proteus_reports.first_paragraph' | t }}</p>
<p>{{ 'mailer.proteus_reports.second_paragraph' | t }}</p>
<p><a href="{{ link }}" target="_blank" >{{ link }}</a></p>


