{% if object_class == 'topic' %}
  {% assign attr = 'description' %}
{% else %}
  {% assign attr = 'body' %}
{% endif %}

<div id="js-{{ object_class }}-item-{{ object.id }}" class="{{ object_class }}-item post-item panel panel-default">
  <div class="post-body panel-body">
    <div class="row">
      <div class="col col-sm-2">
        <div class="post-user">
          <div class="avatar">
            {% assign avatar_alt = object.user | fullname %}
            {% image, src: object.user.cover_image_url, alt: avatar_alt %}
          </div>
          <span class="author-name"><span>{{ object.user | fullname }}</span></span>
          <span class="date">{{ object.created_at | time_ago_in_words }}</span>
        </div>
      </div>
      <div class="col col-sm-10">
        <div class="post-content">
          <div class="{{ attr }} description">
            {{ object.description | default: object.body }}
          </div>

          {% if object.user_id == current_user.id %}
            <button id="js-{{ object_class }}-{{ object.id }}-edit"
                    type="button"
                    data-toggle="modal"
                    data-target="#edit-{{ object_class }}-{{ object.id }}-modal"
                    class="btn btn-default btn-sm edit-btn"
                    name="button">
              <i class="icon-pencil"></i>
            </button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="edit-{{ object_class }}-{{ object.id }}-modal">
  <div class="modal-dialog" role="document">
    <form accept-charset="UTF-8" method="put" action="{{ edit_path }}" data-remote="true">
      <input type="hidden" name="authenticity_token" value="{{ authenticity_token }}">

      <div class="modal-content">
        <div class="modal-body">
          <textarea name="{{ object_class }}[{{ attr }}]" type="text"
                    id="{{ object_class }}-{{ attr }}-{{ object.id }}"
                    class="js-ckeditor form-control"
                    rows="4"
                    required>
              {{ object.body | default: object.description }}
          </textarea>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
