<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
<!-- Escola com Home fechada ================================================== -->
{% if settings.view.config_pages.home.closed_home == true %}
  {% if current_path == '/' %}
    {% if current_user.type == 'Collaborator' %}
      {% assign acesso_admin = current_user | sso_admin_path: current_api_key %}
      <script>
        window.location = '{{acesso_admin}}';
      </script>
    {% elsif current_user.type == 'Student' %}
      <script>
        window.location = "/enrollments";
      </script>
    {% else %}
      <script>
      window.location = "/users/sign_in";
    </script>
    {% endif %}
  {% endif %}
{% endif %}



  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="shortcut icon"
        href="{% if settings.view.general.favicon %}{{ settings.view.general.favicon }}{% else %}{{ 'favicon.png' | asset_url }}{% endif %}"
        type="image/png"/>

  <!-- Title ========================================================= -->
  {% assign sub_title = current_page_title | default: '' %}
  <title>
    {{ current_school.name }}{% if sub_title.size > 0 %} | {{ sub_title }}{% endif %}
  </title>

  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}

  <!-- Helpers ================================================== -->
  <!-- <link rel="canonical" href="{ { canonical_url } }"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS ================================================== -->

  {% include 'fonts' %}

  {% if settings.style.type_enable_simple_line_icons != false %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css"
          media="none"
          onload="if(media!='all')media='all'">
  {% endif %}

  {% if settings.style.type_enable_font_awesome != false %}
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
          media="none"
          crossorigin="anonymous"
          onload="if(media!='all')media='all'">
  {% endif %}

  {% if settings.style.type_enable_new_font_awesome != false %}
    <link rel="stylesheet"
          href="https://pro.fontawesome.com/releases/v5.12.1/css/all.css"
          integrity="sha384-TxKWSXbsweFt0o2WqfkfJRRNVaPdzXJ/YLqgStggBVRREXkwU7OKz+xXtqOU4u8+"
          crossorigin="anonymous"
          onload="if(media!='all')media='all'">
  {% endif %}

  <link rel="stylesheet" href="{{ 'theme.base.min.css' | asset_url }}">

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}

  {{ settings.view.injector.head }}

  <script defer src="{{ 'theme.base.vendors.min.js' | asset_url }}"></script>
  <script defer src="https://www.gstatic.com/firebasejs/3.7.5/firebase.js"></script>

  <script defer src="{{ 'theme.base.min.js' | asset_url }}"></script>
  <script defer src="{{ 'theme.js' | asset_url }}"></script>
  <script defer src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
  <script defer src='https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js'></script>

  {% if current_school | has_feature: 'recaptcha' %}
    <script defer src='https://www.google.com/recaptcha/api.js?onload=onLoadRecaptcha&render=explicit'></script>
  {% endif %}
</head>

<body class="{% if current_path == '/' %}home-page{% elsif product %}product-page{% elsif current_path == '/chat' %}chat-page{% endif %}">
  <div class="content-wrapper">
    {% include 'accessibility-menu' %}

    {% if current_path != '/express_checkout/payment' and current_path != '/express_checkout/success' %}
      {% comment %} Teste logico para saber qual pagina está sendo mostrada e se foi escolhido mostrar ou não o objeto {% endcomment %}
      {% if settings.view.config_pages.home.header == '1' or settings.view.config_pages.check.header == '1' or settings.view.config_pages.login.header == '1' %}
          {% if settings.view.config_pages.home.header != '1' and current_path == '/' %}
            {% include 'navbar' %}
          {% endif %}

          {% if settings.view.config_pages.check.header != '1' and current_path contains 'cart' or current_path contains 'checkout' %}
            {% include 'navbar' %}
          {% endif %}

          {% if settings.view.config_pages.login.header != '1' and current_path contains 'users' %}
            {% include 'navbar' %}
          {% endif %}
      {% else %}
          {% include 'navbar' %}
      {% endif %}
    {% else %}
      {% if settings.view.config_pages.check.express_checkout != '1' %}
        {% include 'navbar-express-checkout' %}
      {% endif %}
    {% endif %}

    {% include 'alert-notice' %}
    {{ content_for_layout }}
    <div class="content-push"></div>
  </div>

  {% if current_path != '/express_checkout/payment' and current_path != '/express_checkout/success' %}
    <div class="footer-wrapper">
      {% comment %} Teste logico para saber qual pagina está sendo mostrada e se foi escolhido mostrar ou não o objeto {% endcomment %}
      {% if settings.view.config_pages.home.footer == '1' or settings.view.config_pages.check.footer == '1' or settings.view.config_pages.login.footer == '1' %}
          {% if settings.view.config_pages.home.footer != '1' and current_path == '/'  %}
            {% include 'footer' %}
          {% endif %}

          {% if settings.view.config_pages.check.footer != '1' and current_path contains 'cart' or current_path contains 'checkout' %}
            {% include 'footer' %}
          {% endif %}

          {% if settings.view.config_pages.login.footer != '1' and current_path contains 'users' %}
            {% include 'footer' %}
          {% endif %}
      {% else %}
          {% include 'footer' %}
      {% endif %}
    </div>
  {% endif %}

  {{ settings.view.injector.body }}
</body>
</html>
