<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="shortcut icon"
        href="{% if settings.view.general.favicon %}{{ settings.view.general.favicon }}{% else %}{{ 'favicon.png' | asset_url }}{% endif %}"
        type="image/png"/>

  <!-- Title ========================================================= -->
  {% assign sub_title = current_page_title | default: '' %}
  <title>
    {{ current_school.name }}{% if sub_title.size > 0 %} | {{ sub_title }}{% endif %}
  </title>

  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}

  <!-- Helpers ================================================== -->
  <!-- <link rel="canonical" href="{ { canonical_url } }"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS ================================================== -->

  {% include 'fonts' %}

  {% if settings.style.type_enable_simple_line_icons != false %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css"
          media="none"
          onload="if(media!='all')media='all'">
  {% endif %}

  {% if settings.style.type_enable_font_awesome != false %}
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
          media="none"
          crossorigin="anonymous"
          onload="if(media!='all')media='all'">
  {% endif %}

  <link rel="stylesheet" href="{{ 'theme.base.min.css' | asset_url }}">

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}

  <script src="{{ 'theme.base.vendors.min.js' | asset_url }}"></script>
  <script src="https://www.gstatic.com/firebasejs/3.7.5/firebase.js"></script>
  <script async src="{{ 'theme.js' | asset_url }}"></script>
  <script async src="{{ 'theme.base.min.js' | asset_url }}"></script>
  <script async src="{{ 'theme.js' | asset_url }}"></script>

</head>
<body class="{% if current_path == '/' %}home-page{% elsif product %}product-page{% elsif current_path == '/chat' %}chat-page{% endif %}">
<div class="content-wrapper">
  {% include 'navbar' %}
  {% include 'alert-notice' %}
  {{ content_for_layout }}
  <div class="content-push"></div>
</div>

<div class="footer-wrapper">
  {% include 'footer' %}
</div>

</body>
</html>
