<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-MZTJKPT');</script>
  <!-- End Google Tag Manager -->
  <link rel="preconnect" href="https://tags.crwdcntrl.net">
  <link rel="preconnect" href="https://bcp.crwdcntrl.net">
  <link rel="dns-prefetch" href="https://tags.crwdcntrl.net">
  <link rel="dns-prefetch" href="https://bcp.crwdcntrl.net">
      <script>
          ! function() {
          window.googletag = window.googletag || {};
          window.googletag.cmd = window.googletag.cmd || [];
          var targetingKey = 'lotame';
          var lotameClientId = '11366';
          var audLocalStorageKey = 'lotame_' + lotameClientId + '_auds';
          // Immediately get audiences from local storage and get them loaded
          try {
              var storedAuds = window.localStorage.getItem(audLocalStorageKey) || '';
              if (storedAuds) {
              googletag.cmd.push(function() {
                  window.googletag.pubads().setTargeting(targetingKey, storedAuds.split(','));
              });
              }
          } catch(e) {
          }
          // Callback when targeting audience is ready to push latest audience data
          var audienceReadyCallback = function (profile) {
              // Get audiences as an array
              var lotameAudiences = profile.getAudiences() || [];
              // Set the new target audiences for call to Google
              googletag.cmd.push(function() {
              window.googletag.pubads().setTargeting(targetingKey, lotameAudiences);
              });
          };
          // Lotame Config
          var lotameTagInput = {
              data: {},
              config: {
              clientId: Number(lotameClientId),
              audienceLocalStorage: audLocalStorageKey,
              onProfileReady: audienceReadyCallback
              }
          };
          // Lotame initialization
          var lotameConfig = lotameTagInput.config || {};
          var namespace = window['lotame_' + lotameConfig.clientId] = {};
          namespace.config = lotameConfig;
          namespace.data = lotameTagInput.data || {};
          namespace.cmd = namespace.cmd || [];
          }();
      </script>
  <script async src="https://tags.crwdcntrl.net/lt/c/11366/lt.min.js"></script>
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link rel="shortcut icon"
        href="{% if settings.view.general.favicon %}{{ settings.view.general.favicon }}{% else %}{{ 'favicon.png' | asset_url }}{% endif %}"
        type="image/png"/>

  <!-- Title ========================================================= -->
  {% assign sub_title = current_page_title | default: '' %}
  <title>
    {{ current_school.name }}{% if sub_title.size > 0 %} | {{ sub_title }}{% endif %}
  </title>

  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}

  <!-- Helpers ================================================== -->
  <!-- <link rel="canonical" href="{ { canonical_url } }"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS ================================================== -->

  {% include 'fonts' %}

  {% if settings.style.type_enable_simple_line_icons != false %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css"
          media="none"
          onload="if(media!='all')media='all'">
  {% endif %}

  {% if settings.style.type_enable_font_awesome != false %}
    <link rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
          media="none"
          crossorigin="anonymous"
          onload="if(media!='all')media='all'">
  {% endif %}

  {% if settings.style.type_enable_new_font_awesome != false %}
    <link rel="stylesheet"
          href="https://pro.fontawesome.com/releases/v5.12.1/css/all.css"
          integrity="sha384-TxKWSXbsweFt0o2WqfkfJRRNVaPdzXJ/YLqgStggBVRREXkwU7OKz+xXtqOU4u8+"
          crossorigin="anonymous"
          onload="if(media!='all')media='all'">
  {% endif %}

  <link rel="stylesheet" href="{{ 'theme.base.min.css' | asset_url }}">

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}

  {{ settings.view.injector.head }}

  <script defer src="{{ 'theme.base.vendors.min.js' | asset_url }}"></script>
  <script defer src="https://www.gstatic.com/firebasejs/3.7.5/firebase.js"></script>

  <script defer src="{{ 'theme.base.min.js' | asset_url }}"></script>
  <script defer src="{{ 'theme.js' | asset_url }}"></script>
  <script defer src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
  <script defer src='https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js'></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script> 
  {% if current_school | has_feature: 'recaptcha' %}
    <script defer src='https://www.google.com/recaptcha/api.js?onload=onLoadRecaptcha&render=explicit'></script>
  {% endif %} 
</head>

<body class="{% if current_path == '/' %}home-page{% elsif product %}product-page{% elsif current_path == '/chat' %}chat-page{% endif %}" onselectstart="return false" >
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MZTJKPT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <div class="content-wrapper">
    {% include 'accessibility-menu' %}
    {% if current_path != '/express_checkout/payment' and current_path != '/express_checkout/success'  %}
      {% include 'navbar' %}
    {% else %}
      {% include 'navbar-express-checkout' %}
    {% endif %}
    {% include 'alert-notice' %}
    {{ content_for_layout }}
    <div class="content-push"></div>
  </div>
  {% if current_path != '/express_checkout/payment' and current_path != '/express_checkout/success' %}
    <div class="footer-wrapper">
      {% include 'footer' %}
    </div>
  {% endif %}
  {{ settings.view.injector.body }}
    
</body>
</html>

