<div class="category-page page">
  <div class="product-list">
    <div class="container page-container">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>

        {% if root_category %}
          <li id="root-category">
            <a href="{{ root_category | category_path }}">
              {{ root_category.title }}
            </a>
          </li>
        {% endif %}

        {% if root_category and parent_category %}
          <li id="parent-category">
            <a href="{{ parent_category | category_path: root_category }}">
              {{ parent_category.title }}
            </a>
          </li>
        {% endif %}

        <li id="current-category" class="active">{{ category.title }}</li>
      </ol>

      <h2 class="title category-title">{{ category.title }}</h2>

      {% form 'category-search-product', category: category.slug %}
      <div class="form-group">
        <input id="filter-title-input" name="title" class="form-control"
               type="text" value="{{ params.title }}" placeholder="{{ 'category.filter_by_product' | t }}">
      </div>
      {% endform %}

      <div class="row">
        {% if category.subcategories.size > 0 %}
          {% assign have_subcategories = true %}

          <div id="subcategories" class="col-md-4 col-sm-12">
            <h5 class="title">Subcategorias</h5>

            <ul class="subcategories-list">
              {% for subcategory in category.subcategories %}
                <li>
                  {% if root_category %}
                    {% assign subcategory_path = subcategory | category_path: root_category, category %}
                  {% else %}
                    {% assign subcategory_path = subcategory | category_path: category %}
                  {% endif %}

                  <a href="{{ subcategory_path }}">
                    {{ subcategory.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        <div class="{% if have_subcategories %} col-md-8 {% else %} col-md-12 {% endif %}">
          <div class="product-list">
            {% paginate products by 9 sort { title: :asc } %}
            <div class="row">
              <div id="js-product-list">
                {% for product in products %}
                  <div class="{% if have_subcategories %} col-sm-12 col-md-6 {% else %} col-sm-6 col-md-4 {% endif %}">
                    {% include 'product/product-card', product: product, gateway: gateway %}
                  </div>
                {% endfor %}
              </div>
            </div>

            {% if paginate.next.is_link %}
              <div id="product-more" class="col-xs-12 text-center" data-turbolinks-temporary>
                <a id="js-product-more-link" class="btn btn-default" href="{{ paginate.next.url }}">
                  <span class="bold">{{ 'product.load_more' | t }}</span>
                </a>

                <div class="js-paginate-spinner" style="display: none;">
                  <i class="busy busy-md"></i>
                </div>
              </div>
            {% endif %}
            {% endpaginate %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
