<div class="product-page page">
  <div class="product-header">
    <div class="text-center col-md-12 col-lg-12">
      {% if product.description %}
      <article class="product-description">
        {{ product.description }}
      </article>
    {% endif %}
   
    </div>
    <div class="container page-container">
      
      <div class="text-left">
        <p class="breadcrumbs"><a href="/">Home </a> <i class="fas fa-chevron-right"></i> <a href="/products">Nossos Cursos </a><i class="fas fa-chevron-right"></i><a
          title="{{ product.title }}"
          data-toggle="{% if product.title.size > 60 %}tooltip{% endif %}"
          id="product-{{ product.id }}" href="/{{ product.slug }}">
         {{ product.title | truncate: 54 }}
       </a></p>
      </div>
      <div class="text-center">
        {% include 'product/buy' %}
      </div>
      <div class="row text-justify">
        
        {% include 'product/product-topics' %}
      </div>
      <div class="row product-content">
        <div class="col-md-6">
          <h2 class="title">Conteúdo do Curso</h2>
          {% include 'product/content-course', lesson_actions: false %}
        </div>
        <div class="col-md-6">         
          {% include 'product/teachers' %}
        </div>
    </div>
    <div class="row">
      <div class="text-center">
        {% include 'product/buy' %}
      </div>
    </div>
    </div>
  </div>
</div>