<div class="product-page page">
  <div class="product-header">
    <div class="text-center col-md-12 col-lg-12">
      {% if product.description %}
      <article class="product-description">
        {{ product.description }}
      </article>
    {% endif %}
   
    </div>
    <div class="container page-container">
      
      <div class="text-left">
        <p class="breadcrumbs"><a href="/">Home </a> <i class="fas fa-chevron-right"></i> <a href="/products">Nossos Cursos </a><i class="fas fa-chevron-right"></i><a
          title="{{ product.title }}"
          data-toggle="{% if product.title.size > 60 %}tooltip{% endif %}"
          id="product-{{ product.id }}" href="/{{ product.slug }}">
         {{ product.title | truncate: 54 }}
       </a></p>
      </div>
      <div class="text-center">
        {% include 'product/buy' %}
      </div>
      <div class="row text-justify">
        
        {% include 'product/product-topics' %}
      </div>
      <div class="row product-content">
        <div class="col-md-6">
          <h2 class="title">Conteúdo do Curso</h2>
          {% include 'product/content-course', lesson_actions: false %}
        </div>
        <div class="col-md-6">         
          {% include 'product/teachers' %}
        </div>
        <div class="text-center">
          {% include 'product/buy' %}
        </div>
    </div>
    <div class="row aprenda-mais">
      <h2 class="title">Aprenda Mais</h2>
 
      <div class="container">
        <div id="CarouselCursos" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators indicators-courses">
            <li data-target="#CarouselCursos" data-slide-to="0" class="active"></li>
            <li data-target="#CarouselCursos" data-slide-to="1"></li>
            <li data-target="#CarouselCursos" data-slide-to="2"></li>
          </ol>
          <div class="row">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-sm-6 col-md-4 text-center">
                  <div class="logo">
                    <a href="/o-manual-do-investidor">
                      <img src="https://edools-3-production.s3.amazonaws.com/org-25042%2Fschool-26067%2F2d50431751ff74010269f84ce3305103%2FCurso01.png">
                    </a>
                    <p class="text-left"><strong>O Manual do Investidor</strong></p>
                  </div>
                  <div class="text-center">
                    <a href="/o-manual-do-investidor"><strong>SAIBA MAIS</strong></a>
                  </div>
                </div>  
                <div class="col-sm-6 col-md-4 text-center">
                  <div class="logo">
                    <a href="/curso-teste-02">
                      <img src="https://edools-3-production.s3.amazonaws.com/org-25042%2Fschool-26067%2F296119335e03dd303b40bdcce824ac80%2FImagemteste3.png">
                    </a>
                    <p class="text-left"><strong>Domiando o mercado de opções</strong></p>
                  </div>
                  <div class="text-center">
                    <a href="/curso-teste-01"><strong>SAIBA MAIS</strong></a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 text-center">
                  <div class="logo">
                    <a href="#">
                      <img src="https://edools-3-production.s3.amazonaws.com/org-25042%2Fschool-26067%2F434cc5b7d98dc1566d2898aa78e3ce61%2Fimage+21.png">
                    </a>
                    <p class="text-left"><strong>O jeito barsi de investir</strong></p>
                  </div>
                  <div class="text-center">
                    <a href="/o-manual-do-investidor"><strong>SAIBA MAIS</strong></a>
                  </div>
                </div>
                </div>
            </div>
          </div>
          </div>
      </div>

    </div> 
    </div>
  </div>
</div>