<div class="header-carousel owl-theme owl-carousel">
  {% for item in header.carousel %}
      <div class="item" style="background-image: url('{{ item.image }}');">
          <div class="container">
              <div class="text-box">
                  <h4 class="title">{{ item.title }}</h4>
                  <p class="description">{{ item.description }}</p>
              </div>
          </div>
      </div>
  {% endfor %}
</div>
<div class="footer">
  <div class="container">
      <p class="title">{{ header.footer.text }}</p>
  </div>
</div>

{% assign mobile_box = settings.view.home.header.footer.product_box %}
{% if mobile_box.is_active %}
  <div class="mobile-box">
      <div class="header"></div>
      <span class="product-text">{{ mobile_box.top_text }}</span>
      <span class="product-featured-text">{{ mobile_box.middle_text }}</span>
      <span class="product-text">{{ mobile_box.bottom_text }}</span>
      {% if mobile_box.btn.is_active %}
          <a href="{{ mobile_box.btn.url }}">
              <button class="theme-btn product-btn">{{ mobile_box.btn.text }}</button>
          </a>
      {% endif %}
  </div>
{% endif %}
</div>