<div class="checkout-page checkout-payment-page page">
  <div class="container">
    {% include "checkout/return" %}

    <div class="row">
      {% include "checkout/title-box" %}
      <div class="col-xs-12 col-md-7 cart-wizard">
        <div class="wizard">
          {% include "checkout/wizard-header", step: 3, infos_completed: infos_completed %}

          <div class="wizard-content">
            <div class="payment-form">
              <div class="ed-tabs">
                {% if order.kind == 'common' %}
                  {% if gateway.common_payment_methods contains 'credit_card' %}{% assign show_cc = true %}{% endif %}
                  {% if gateway.common_payment_methods contains 'boleto' %}{% assign show_boleto = true %}{% endif %}
                  {% if gateway.common_payment_methods contains 'bank_transfer' %}{% assign show_bt = true %}{% endif %}
                  {% elsif order.kind == 'subscription' %}
                  {% if gateway.subscription_payment_methods contains 'credit_card' %}{% assign show_cc = true %}{% endif %}
                  {% if gateway.subscription_payment_methods contains 'boleto' %}{% assign show_boleto = true %}{% endif %}
                {% endif %}

                {% if trial_purchase %}
                  <div class="alert alert-info">{{ 'checkout.payment.trial_purchase_warning' | t }}</div>
                {% endif %}

                <ul class="nav nav-tabs" role="tablist">
                  {% if show_cc %}
                    <li class="{% if active_payment_type == 'credit_card' %} active {% endif %}" role="presentation">
                      <a href="#credit-card" id="credit-card-tab" role="tab" data-toggle="tab"
                         aria-controls="credit-card"
                         aria-expanded="false" data-toggle="pill">
                        {{ 'checkout.payment.credit_card' | t }}
                      </a>
                    </li>
                  {% endif %}
                  {% if show_boleto %}
                    <li class="{% if active_payment_type == 'boleto' %}active{% endif %}" role="presentation">
                      <a href="#boleto" id="boleto-tab" role="tab" data-toggle="tab" aria-controls="boleto"
                         aria-expanded="false" data-toggle="pill">
                        {{ 'checkout.payment.boleto' | t }}
                      </a>
                    </li>
                  {% endif %}
                  {% if show_bt %}
                    <li class="{% if active_payment_type == 'bank_transfer' %}active{% endif %}" role="presentation">
                      <a href="#bank-transfer" id="bank-transfer-tab" role="tab" data-toggle="tab"
                         aria-controls="boleto"
                         aria-expanded="false" data-toggle="pill">
                        {{ 'checkout.payment.bank_transfer' | t }}
                      </a>
                    </li>
                  {% endif %}
                </ul>

                <div class="tab-content">
                  {% if show_cc %}
                    <div id="credit-card"
                         class="credit-card tab-pane {% if active_payment_type == 'credit_card' %}active{% endif %}"
                         role="tabpanel"
                         aria-labelledby="credit-card-tab">

                      {% form 'checkout/payment', id: card-form %}
                      <input type="hidden" name="order[payment_type]" value="credit_card">
                      {% if form.errors %}
                        <div class="alert alert-danger">{{ form.errors | default_errors }}</div>
                      {% endif %}

                      <div class="form-group card-wrapper"></div>

                      <div class="form-group">
                        <label class="control-label">{{ 'checkout.payment.credit_card_number' | t }}</label>
                        <input id="card-number"
                               type="text"
                               name="order[credit_card][number]"
                               value="{{ credit_card.number }}"
                               class="form-control"
                               required>
                      </div>

                      <div class="form-group">
                        <label class="control-label">{{ 'checkout.payment.credit_card_name' | t }}</label>
                        <input id="card-holder-name"
                               type="text"
                               name="order[credit_card][name]"
                               value="{{ credit_card.name }}"
                               class="form-control"
                               required>
                      </div>

                      <div class="row">
                        <div class="form-group  col-sm-6">
                          <label class="control-label">{{ 'checkout.payment.credit_card_expiry' | t }}</label>
                          <input id="card-expiration"
                                 type="text"
                                 name="order[credit_card][expiry]"
                                 value="{{ credit_card.expiry }}"
                                 class="form-control"
                                 required>
                        </div>
                        <div class="form-group col-sm-6">
                          <label class="control-label">{{ 'checkout.payment.credit_card_cvv' | t }}</label>
                          <input id="card-cvc"
                                 type="text"
                                 name="order[credit_card][cvc]"
                                 value="{{ credit_card.cvc }}"
                                 class="form-control"
                                 required>
                        </div>
                      </div>

                      {% if order.kind == 'common' %}
                        <div class="form-group">
                          <label class="control-label">{{ 'checkout.payment.credit_card_installments' | t }}</label>
                          <select id="credit-card-installments" class="form-control"
                                  name="order[credit_card][installments]" required>
                            {% if gateway.installments_forward_taxes %}
                              {% assign translation_key = 'installment_amount_with_taxes' %}
                            {% else %}
                              {% assign translation_key = 'installment_amount' %}
                            {% endif %}

                            {% for installment in installments %}
                              {% assign amount_in_money = installment.amount | money %}
                              {% assign amount_with_taxes = installment.amount |
                              number_with_taxes: gateway, installment.value | money %}

                              <option value="{{ installment.value }}">
                                {{ 'checkout.payment.' | append: translation_key | t:
                                count: installment.value, amount: amount_in_money,
                                amount_with_taxes: amount_with_taxes }}
                              </option>
                            {% endfor %}
                          </select>

                        </div>
                      {% endif %}

                      <div class="text-center">
                        <input type="submit" value="{{ 'checkout.payment.credit_card_pay' | t }}"
                               class="btn btn-primary btn-finalize">
                      </div>
                      {% endform %}
                    </div>
                  {% endif %}
                  {% if show_boleto %}
                    <div id="boleto"
                         class="boleto tab-pane {% if active_payment_type == 'boleto' %}active{% endif %}"
                         role="tabpanel"
                         aria-labelledby="boleto-tab">

                      <div class="alert alert-warning">
                        <span>{{ 'checkout.payment.disable_popups_warning' | t }}</span>
                      </div>
                      <div class="alert alert-info">
                        <span>{{ 'checkout.payment.boleto_warning' | t }}</span>
                      </div>
                      {% form 'checkout/payment' %}
                      <input type="hidden" name="order[payment_type]" value="boleto">

                      {% if form.errors %}
                        <div class="alert alert-danger">{{ form.errors | default_errors }}</div>
                      {% endif %}

                      <div class="text-center">
                        <input type="submit" value="{{ 'checkout.payment.boleto_pay' | t }}"
                               class="btn btn-primary btn-finalize">
                      </div>
                      {% endform %}
                    </div>
                  {% endif %}
                  {% if show_bt %}
                    <div id="bank-transfer"
                         class="bank-transfer tab-pane payment-methods {% if active_payment_type == 'bank_transfer' %}active{% endif %}"
                         role="tabpanel"
                         aria-labelledby="boleto-tab">

                      <div class="alert alert-warning">
                        <span>{{ 'checkout.payment.disable_popups_warning' | t }}</span>
                      </div>
                      <div class="alert alert-info">
                        <span>{{ 'checkout.payment.bank_transfer_warning' | t }}</span>
                      </div>
                      {% form 'checkout/payment' %}

                      <input type="hidden" name="order[payment_type]" value="bank_transfer">

                      {% if form.errors %}
                        <div class="alert alert-danger">{{ form.errors | default_errors }}</div>
                      {% endif %}

                      <div class="form-group">
                        {% for bank in gateway.supported_banks %}
                          <label class="radio-inline">
                            <input type="radio" name="order[bank_transfer][institution]" id="bank-{{ bank }}"
                                   value="{{ bank }}"> <span class="bank-flag {{ bank }}"></span>
                          </label>
                        {% endfor %}
                      </div>

                      <div class="text-center">
                        <input type="submit" value="{{ 'checkout.payment.bank_transfer_pay' | t }}"
                               class="btn btn-primary btn-finalize">
                      </div>
                      {% endform %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 cart-sidebar">
        <div class="panel panel-default">
          <div class="panel-body">
            {% include "checkout/security-box" %}
            {% include "checkout/totals-box" %}
            {% include "checkout/payment-methods-box" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).on('ready page:load', function () {
    $('#card-form').card({
      container: '.card-wrapper',

      formSelectors: {
        numberInput: 'input[name="order[credit_card][number]"]',
        expiryInput: 'input[name="order[credit_card][expiry]"]',
        cvcInput: 'input[name="order[credit_card][cvc]"]',
        nameInput: 'input[name="order[credit_card][name]"]',
      },
      placeholders: {
        number: '•••• •••• •••• ••••',
        name: "{{ 'checkout.payment.credit_card_name' | t }}",
        expiry: '•• / ••',
        cvc: '•••'
      }
    });
  });
</script>
