<div class="enroll">
  {% assign first_option = product.payment_options[0] %}
  {% if first_option %}
    {% capture product_price %}
      {{ first_option.price | money_option_presentation_with_taxes: first_option.kind,
        first_option.period, gateway }}
    {% endcapture %}

    {% capture product_base_price %}
      {{ first_option.base_price | money_option_presentation_with_taxes: first_option.kind,
        first_option.period, gateway }}
    {% endcapture %}

    <div class="price">
      {% if first_option.promotional == true %}
        <p class="base-price">
          <strike>{{ product_base_price }}</strike>
        </p>
      {% endif %}

      {% if first_option.kind == 'subscription' %}
        {{ first_option.price | money_option_presentation: first_option.kind, first_option.period, 'full', 1 }}
      {% else %}
        {{ product_price }}
      {% endif %}

      {% if first_option.trials > 0 %}
        <div>{{ 'product.trial' | t: count: first_option.trials }}</div>
      {% endif %}
    </div>

    <div class="btn-group">
      {% if product.payment_options.size > 1 %}
        <a class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
          {{ 'product.buy' | t }}
        </a>

        <ul class="dropdown-menu">
          {% for option in product.payment_options %}
            <li>
              <a id="add-to-cart-product-{{ product.id }}-{{ option.id }}" href="{{ product | add_to_cart_path: option }}">
                {{ option.price | money_option_presentation_with_taxes: option.kind, option.period, gateway }}

                {% if option.trials > 0 %}
                  <span>{{ 'product.trial' | t: count: option.trials }}</span>
                {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        {{ 'product.buy' | t | add_to_cart_link: product, first_option, 'btn btn-primary btn-lg' }}
      {% endif %}
    </div>
  {% endif %}
</div>
