<div class="enroll">
  {% assign has_express_checkout = current_school | has_feature: 'express_checkout' %}
  {% assign first_option = product.payment_options[0] %}
  {% assign oldest_payment_option = product.payment_options | sort: "created_at" | first %}
  {% if first_option %}
    {% capture product_price %}
      {{ first_option.price | money_option_presentation_with_taxes: first_option.kind,
        first_option.period, gateway, first_option }}
    {% endcapture %}

    {% capture product_base_price %}
      {{ first_option.base_price | money_option_presentation_with_taxes: first_option.kind,
        first_option.period, gateway, first_option }}
    {% endcapture %}

    <div class="price">
      {% if first_option.promotional == true %}
        <p class="base-price">
          <strike>{{ product_base_price }}</strike>
        </p>
      {% endif %}

      {% if has_express_checkout == true %}
        {% if spark_pay_installments %}
            {% assign installment = spark_pay_installments.last %}
            {% assign amount_in_money   = installment.amount | money %}
            {% assign amount_with_taxes = installment.amount | number_with_taxes: gateway, installment.value | money %}
            {% assign grand_total       = installment.total_with_fee | money %}

            {% if gateway.installments_forward_taxes and amount_in_money != amount_with_taxes %}
              {% assign translation_key = 'installment_amount_with_taxes' %}
            {% else %}
              {% assign grand_total       = spark_pay_installments.first.amount | money %}
              {% assign translation_key = 'installments_or_one' %}
            {% endif %}

            <span class="final-price">{{ 'checkout.payment.' | append: translation_key | t:
            count: installment.value, amount: amount_in_money,
            amount_with_taxes: amount_with_taxes,
            grand_total: grand_total }}</span>
        {% else %}
          <span aria-label="{{ oldest_payment_option.price | money_without_currency | remove: ',00' }} reais" class="final-price">{{ oldest_payment_option.price | money_option_presentation_with_taxes: oldest_payment_option.kind, oldest_payment_option.period, gateway, oldest_payment_option }} </span>
        {% endif %}
      {% else %}
      {% if first_option.kind == 'subscription' %}
        <span  class="final-price"> {{ first_option.price | money_option_presentation: first_option.kind, first_option.period, 'full', 1 }}</span>
      {% else %}
        <span aria-label="{{ first_option.price | money_without_currency | remove: ',00' }} reais" class="final-price">{{ first_option.price | money_option_presentation_with_taxes: first_option.kind, first_option.period, gateway, first_option }} </span>
      {% endif %}
    {% endif %}


      {% if first_option.trials > 0 %}
        <div>{{ 'product.trial' | t: count: first_option.trials }}</div>
      {% endif %}
    </div>

    <div class="btn-group">
      {% if has_express_checkout == true %}
        {{ 'product.buy' | t | add_to_cart_link: product, oldest_payment_option, 'btn btn-primary btn-lg' }}
      {% else %}
        {% if product.payment_options.size > 1 %}
          <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">
            {{ 'product.buy' | t }} <span class="caret"></span>
          </button>

          <ul class="dropdown-menu">
            {% for option in product.payment_options %}
              <li>
                {% if gateway.gateway == 'hotmart' %}
                  <a href="{{ option.hotmart_config.hotmart_checkout_url }}">
                    {{ option.price | money_option_presentation_with_taxes: option.kind, option.period, gateway, option }}
                  </a>
                {% else %}
                  <a id="add-to-cart-product-{{ product.id }}-{{ option.id }}" href="{{ product | add_to_cart_path: option }}">
                    {{ option.price | money_option_presentation_with_taxes: option.kind, option.period, gateway, option }}

                    {% if option.trials > 0 %}
                      <span>{{ 'product.trial' | t: count: option.trials }}</span>
                    {% endif %}
                  </a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          {% if gateway.gateway == 'hotmart' %}
            <a class="hotmart-fb btn btn-primary btn-lg" href="{{ first_option.hotmart_config.hotmart_checkout_url }}">
              {{ 'product.buy' | t }}
            </a>
          {% else %}
            {{ 'product.buy' | t | add_to_cart_link: product, first_option, 'btn btn-primary btn-lg' }}
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
  {% endif %}
</div>
