{% if course %}
  <div id="course-content-remote-sidebar" class="course-content" data-turbolinks-permanent>
    <div class="course-content-busy">
      <div class="busy busy-md"></div>
    </div>
    <ul id="js-course-tree-ajax"
        class="modules list-group"
        data-school-product="{{ school_product | to_json | replace: '"', '&quot;' | strip_newlines }}"
        data-course="{{ course | to_json | replace: '"', '&quot;' | strip_newlines }}"
        data-enrollment="{{ enrollment | to_json | replace: '"', '&quot;'| strip_newlines }}"
        data-course-content="{{ course_content | to_json | replace: '"', '&quot;'| strip_newlines }}"
        data-user-type="{{ current_user.type }}"
        data-lesson-actions="{{ lesson_actions }}"
        data-download-action="{{ download_action }}"
        data-current-lesson-id="{{ current_lesson_id }}"
        data-translation-release-at="{{ 'lesson.release_at' | t }}"
        data-translation-release-after="{{ 'lesson.release_after' | t }}"
        data-translation-course_content-views="{{ 'product.course_content.views' | t }}"
        data-api-key="{% if current_api_key %}{{current_api_key.credentials }}{% else %}{{ current_apps_credentials.course_content }}{% endif %}">
    </ul>
  </div>
{% endif %}
