<div id="product-card-{{ product.id }}" class="thumbnail product product-card">
  <div class="logo">
    <a tabindex="-1" href="/{{ product.slug }}">
      {% if product.logo %}
        {% image, src: product.logo, alt: product.title %}
      {% else %}
        {% assign placeholder = 'missing-product-logo.png' | asset_url %}
        {% image, src: placeholder, alt: product.title %}
      {% endif %}
    </a>
  </div>

  <div class="caption">
    <a class="title"
       title="{{ product.title }}"
       data-toggle="{% if product.title.size > 60 %}tooltip{% endif %}"
       id="product-{{ product.id }}" href="/{{ product.slug }}">
      {{ product.title | truncate: 54 }}
    </a>
  </div>
    <div class="footer caption clearfix">
    {% assign has_express_checkout = current_school | has_feature: 'express_checkout' %}
    {% assign first_option = product.payment_options[0] %}
    {% assign oldest_payment_option = product.payment_options | sort: "created_at" | first %}

    {% if first_option %}
    <div tabindex="0" class="price">
      {% if first_option.promotional == true %}
        <span aria-hidden="true" class="base-price">
          <strike >{{ first_option.base_price | money_option_presentation_with_taxes: first_option.kind, first_option.period, gateway, first_option }}</strike>
        </span>
      {% endif %}

      {% if has_express_checkout == true %}
        <span aria-label="{{ oldest_payment_option.price | money_without_currency | remove: ',00' }} reais" class="final-price">{{ oldest_payment_option.price | money_option_presentation_with_taxes: oldest_payment_option.kind, oldest_payment_option.period, gateway, oldest_payment_option }} </span>
      {% else %}
        {% if first_option.kind == 'subscription' %}
          <span  class="final-price"> {{ first_option.price | money_option_presentation: first_option.kind, first_option.period, 'full', 1 }}</span>
        {% else %}
          <span aria-label="{{ first_option.price | money_without_currency | remove: ',00' }} reais" class="final-price">{{ first_option.price | money_option_presentation_with_taxes: first_option.kind, first_option.period, gateway, first_option }} </span>
        {% endif %}
      {% endif %}

      {% if first_option.trials > 0 %}
        <div class="trial-caption">{{ 'product.trial' | t: count: first_option.trials }}</div>
      {% endif %}
    </div>

      <div class="call-to-action">
       <a class="more"
        title="{{ product.title }}"
        data-toggle="{% if product.title.size > 60 %}tooltip{% endif %}"
        id="product-{{ product.id }}" href="/{{ product.slug }}">
       saiba mais
     </a>
      </div>
      {% else %}
      <div class="call-to-action">
        <a class="more"
         title="{{ product.title }}"
         data-toggle="{% if product.title.size > 60 %}tooltip{% endif %}"
         id="product-{{ product.id }}" href="/{{ product.slug }}">
        lista de espera
      </a>
       </div>
    {% endif %}
  </div>
</div>
