<div id="product-card-{{ product.id }}" class="thumbnail product product-card">
  <div class="logo">
    <a href="/{{ product.slug }}">
      {% if product.logo %}
        {% image, src: product.logo, alt: product.title %}
      {% else %}
        {% assign placeholder = 'missing-product-logo.png' | asset_url %}
        {% image, src: placeholder, alt: product.title %}
      {% endif %}
    </a>
  </div>

  <div class="caption">
    <a class="title"
       title="{{ product.title }}"
       data-toggle="{% if product.title.size > 60 %}tooltip{% endif %}"
       id="product-{{ product.id }}" href="/{{ product.slug }}">
      {{ product.title | truncate: 60 }}
    </a>

    <p class="subtitle">{{ product.subtitle | truncate: 112 }}</p>
  </div>

  <div class="footer caption clearfix">
    {% assign first_option = product.payment_options[0] %}
    {% if first_option %}

      <div class="price">
        {% if first_option.promotional == true %}
          <span class="base-price">
          <strike>{{ first_option.base_price | money_option_presentation_with_taxes: first_option.kind, first_option.period, gateway }}</strike>
        </span>
        {% endif %}

        {% if first_option.kind == 'subscription' %}
          <span class="final-price"> {{ first_option.price | money_option_presentation: first_option.kind, first_option.period, 'full', 1 }} </span>
        {% else %}
          <span class="final-price">{{ first_option.price | money_option_presentation_with_taxes: first_option.kind, first_option.period, gateway }}</span>
        {% endif %}

        {% if first_option.trials > 0 %}
          <div class="trial-caption">{{ 'product.trial' | t: count: first_option.trials }}</div>
        {% endif %}
      </div>

      <div class="call-to-action">
        {% if product.payment_options.size > 1 %}
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
              {{ 'product.enroll' | t }} <span class="caret"></span>
            </button>

            <ul class="dropdown-menu">
              {% for option in product.payment_options %}
                <li>
                  <a id="add-to-cart-product-{{ product.id }}-{{ option.id }}"
                     href="{{ product | add_to_cart_path: option }}">
                    {{ option.price | money_option_presentation_with_taxes: option.kind, option.period, gateway }}

                    {% if option.trials > 0 %}
                      <span>{{ 'product.trial' | t: count: option.trials }}</span>
                    {% endif %}
                  </a>

                </li>
              {% endfor %}
            </ul>
          </div>
        {% else %}
          {{ 'product.enroll' | t | add_to_cart_link: product, first_option, 'btn btn-primary' }}
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
