{% assign rating_enable = current_school | has_feature: 'course_rating' %}
{% if rating_enable %}
  <div id="rating-container">
    {% if product.rating_config.points == 'true' %}
      <div id="general-rating">
        {{ 'courses.rating.total_points' | t }}
        {{ course.rating }}
      </div>
    {% endif %}

    {% if product.rating_config.public_notes == 'true' %}
      <div id="public-notes">
        {% paginate public_ratings by 1 %}
          <div id="js-course-{{ course.id }}-ratings-list">
            {% include 'product/ratings-list' %}
          </div>

          {% if paginate.next.is_link %}
            <a id="js-course-{{ course.id }}-ratings-more" href="{{ course | ratings_path: paginate.params }}" data-remote="true" data-reject-ids="[]">
              {{ 'general.load_more' | t }}
            </a>
          {% endif %}
        {% endpaginate %}
      </div>
    {% endif %}
  </div>
{% endif %}
