<div class="forums-page school-forums-page">
  <div class="forum-page page">
    <div class="container">
      <h3>
        {% permitted forum_section, create %}
          <button type="button" data-toggle="modal" data-target="#sectionModal" id="new_section" class="btn btn-primary pull-right" name="button">
            {{ 'forums.new_topic' | t }}
          </button>
        {% endpermitted %}

        <span class="section-title">{{ section.title }}</span>
        <p class="small">{{ section.description }}</p>
      </h3>

      <div class="modal fade" tabindex="-1" role="dialog" id="sectionModal">
        <div class="modal-dialog" role="document">
          {% form 'school/forum/topic' %}
            <input type="hidden" name="section_id" value="{{section.id}}">

            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                  {{ 'forums.new_topic' | t }}
                </h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="name_section">Nome</label>
                  <input type="text" class="form-control" name="topic[title]" id="name_section" required />
                </div>
                <div class="form-group">
                  <label for="description_section">Descrição</label>
                  <textarea rows="3"
                      class="form-control js-ckeditor"
                      id="description_section"
                      name="topic[description]"
                      required></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
              </div>
            </div>
          {% endform %}
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <form accept-charset="UTF-8" method="get" action="/school/forums/{{ forum_id }}/sections/{{ section.id }}" data-turbolinks-scroll="false">
        <div class="input-group input-group-lg">
          <span class="input-group-addon no-background"><i class="icon-magnifier"></i></span>
          <input type="text" class="form-control" name="title" placeholder="{{ 'forums.filter_by_title' | t }}"
          value="{{ current_search.title }}">
          <span class="input-group-btn">
            <input type="submit" value="{{ 'general.search' | t }}" class="btn btn-default">
          </span>
        </div>
      </form>

      <hr/>

      <div collapse="collapsed" class="section-topics list-group">
        {% paginate topics by 10 sort { updated_at: :desc } %}
          {% if topics.total_count == 0 and current_search.size == 0 %}
            <div class="alert alert-info text-center">
              {{ 'forums.topics.empty' | t }}
            </div>
          {% else %}
            {% for topic in topics %}
              <article id="topic-{{ topic.id }}" class="forum list-group-item clearfix">
                <div class="forum-content clearfix">
                  <a class="list-group-item-heading title" href="{{ topic | topic_path }}">{{ topic.title }}</a>
                </div>

                <div id="posts-count" class="section-meta pull-right">
                  <b>
                    {{ 'forums.topics.posts_count' | t: count: topic.posts_count }}
                  </b>
                </div>
              </article>
            {% endfor %}
          {% endif %}

          {% include 'pagination_links' %}
        {% endpaginate %}
      </div>
    </div>
  </div>
</div>
