<div class="forums-page page">
  <div class="forum-questions-page page">
    <div class="container">
      <div class="forum-questions-heading">
        <a href="{{ topic | section_path: forum_id }}" class="btn btn-default">
          <i class="icon-arrow-left"></i>
          <span>{{ 'general.back' | t }}</span>
        </a>

        {% permitted forum_question, create %}
          <a href="#new-post" class="btn btn-primary pull-right">
            <i class="icon-plus"></i>
            <span>{{ 'forums.posts.new' | t }}</span>
          </a>
        {% endpermitted %}
      </div>

      <div class="topic-question-list">
        {% paginate posts by 10 %}
          {% if paginate.current_page == 1 %}
            {% include 'school/forum/post', object: topic, object_class: 'topic-item' %}
          {% endif %}

          {% for p in posts %}
            {% assign edit_path = p | post_path: forum_id, section_id %}
            {% include 'school/forum/post', object: p, object_class: 'post-item', edit_path: edit_path %}
          {% endfor %}

          {% include 'pagination_links' %}
        {% endpaginate %}


        {% unless !hide_editor %}
          <div id="new-post" class="answer-panel panel-footer clearfix">
            <form accept-charset="UTF-8" method="post" action="{{ topic | posts_path: forum_id }}">
              <input type="hidden" name="authenticity_token" value="{{ authenticity_token }}">
              <textarea name="post[body]" type="text"
                        id="new-post-body"
                        class="js-ckeditor form-control"
                        rows="4"
                        required></textarea>
              <br>

              <button type="submit" class="btn btn-primary pull-right" disabled="disabled">{{ 'forums.posts.new' | t }}</button>
            </form>
          </div>
        {% endunless %}

      </div>
    </div>
  </div>
</div>
