<div class="enrollments-page page">
  <div class="container page-container">

    <div class="page-heading clearfix">
      <a class="btn btn-default pull-left" href="/">
        <i class="icon-arrow-left"></i>
        <span>{{ 'general.back' | t }}</span>
      </a>

      {% if exists_certificates %}
        <a class="btn btn-default my-certificates-btn pull-right" href="/certificates">
          <i class="icon-graduation"></i>
          <span>{{ 'enrollment.my_certificates' | t }}</span>
        </a>
      {% endif %}
    </div>

    <h2 class="title">
      {{ 'enrollment.my_courses' | t }}
    </h2>

    {% if active_enrollments.size == 0 %}
      <div class="alert alert-info">
        {{ 'enrollment.not_enrolled_any_course' | t }}
      </div>
    {% endif %}

    <div class="courses-list">
      {% paginate active_enrollments by 6 %}
      <div class="row">
        <div id="js-product-list">
          {% for enrollment in active_enrollments %}
            <div class="col-sm-6 col-md-4 active-enrollments">
              <div class="course">
                <div class="course-info">
                  <div class="course-header">
                    <a class="title"
                       href="{% if enrollment.school_product.library_resource.resource_type == 'Course' %}{{ enrollment | course_path }}{% else if enrollment.school_product.library_resource.resource_type == 'Path' %}{{ enrollment.id | path_path: enrollment.school_product.library_resource.resource_id }}{% endif %}"
                       title="{{ enrollment.school_product.title }}"
                       data-toggle="{% if enrollment.school_product.title.size > 70 %}tooltip{% endif %}">
                      <div class="course-image">
                        {% if enrollment.school_product.logo != null %}
                          {% image, src: enrollment.school_product.logo, alt: enrollment.school_product.title %}
                        {% else %}
                          {% assign placeholder = 'missing-product-logo.png' | asset_url %}
                          {% image, src: placeholder, alt: enrollment.school_product.title %}
                        {% endif %}
                      </div>

                      <span class="caption">{{ enrollment.school_product.title | truncate: 70 }}</span>
                    </a>
                  </div>

                  <div class="course-progress">

                    {% assign progress = enrollment | course_progress_card %}
                    {% include "progress-card", progress: progress %}
                  </div>

                  <div class="course-avaliability">
                    <div class="status">
                      <span class="alert alert-success"
                            title="<p>{{ enrollment | available_time_message }}</p><p>{{ enrollment | total_max_attendance_message }}</p><p>{{ enrollment | use_max_attendance_message }}</p>"
                            data-toggle="tooltip"
                            data-html="true">
                        <span>{{ enrollment | status_message }}</span>
                        <i class="icon-info"></i>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="course-action">
                  {% if enrollment.school_product.library_resource.resource_type == 'Course' %}
                    <a class="btn btn-default" href="{{ enrollment | course_path }}">
                      <i class="icon-camrecorder"></i>
                      <span>{{ 'enrollment.go_course' | t }}</span>
                    </a>
                  {% endif %}

                  {% if enrollment.school_product.library_resource.resource_type == 'Path' %}
                    <a class="btn btn-default"
                       href="{{ enrollment.id | path_path: enrollment.school_product.library_resource.resource_id }}">
                      <i class="icon-layers"></i>
                      <span>{{ 'enrollment.go_path' | t }}</span>
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      {% if paginate.next.is_link %}
        <div id="product-more" class="col-xs-12 text-center" data-turbolinks-temporary>
          <a id="js-product-more-link" href="{{ paginate.next.url }}">
            <span class="bold">{{ 'product.load_more' | t }}</span>
          </a>

          <div class="js-paginate-spinner" style="display: none;">
            <i class='busy busy-md'></i>
          </div>
        </div>
      {% endif %}
      {% endpaginate %}
    </div>

    <div class="pending-enrollments">

      {% if pending_enrollments.size != 0 %}
        <h2 class="title">
          {{ 'enrollment.pending' | t }}
        </h2>
      {% endif %}

      <div class="courses-list">
        <div class="row">
          {% for enrollment in pending_enrollments %}
            <div class="col-sm-6 col-md-4">
              <div class="course course-pending">
                <div class="course-image">
                  {% if enrollment.school_product.logo != null.image_url %}
                    {% image, src: enrollment.school_product.logo, alt: enrollment.school_product.name %}
                  {% else %}
                    {% assign placeholder = 'missing-product-logo.png' | asset_url %}
                    {% image, src: placeholder, alt: product.title %}
                  {% endif %}
                </div>

                <div class="course-info">
                  <div class="title">
                    <div class="caption">{{ enrollment.school_product.title }}</div>
                  </div>
                  <div class="course-avaliability">
                    <div class="status">
                      <span class="alert alert-danger"
                            title="{{ enrollment | status_message }}">
                        <span>{{ enrollment | status_message }}</span>
                        <i class="icon-info"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

    </div>

  </div>
</div>
